<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add New Records</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.2.1/css/bootstrap.css">
<link rel="stylesheet"
	href="@{/webjars/font-awesome/5.6.3/js/all.min.js}">

<link rel='stylesheet'
	href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
	integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
	crossorigin='anonymous'>

</head>
<body>
	<div th:replace="fragments/header::header">Header</div>
	<br>
	<div class="container">
		<div class="card-header" style="background-color: #e3f2fd;">
			<h4>
				<i class='fas fa-home' style='font-size: 30px'></i> Add New Record
			</h4>

		</div>
		<form th:object="${recordsModel}" method="post">

			<div class="form-group">
				<label for="username">RecordsID:</label> <input type="text"
					th:field="*{recordsID}" class="form-control"
					required> <small
					th:if="${#fields.hasErrors('recordsID')}" class="text-danger"
					th:errors="*{recordsID}">recordsID Error</small>
			</div>


			
			<div class="form-group">
				<label for="username">Type: </label> &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;Achievements&emsp14;&emsp14;<input
					type="radio" name="radtype" th:value="${true}" required> &emsp14;&emsp14;&emsp14;&emsp14;Discipline&emsp14;&emsp14;&emsp14;&emsp14;<input
					type="radio" name="radtype">
			</div>

			<div class="form-group">
				<label for="username">Reason: </label> <input type="text"
					th:field="*{reason}" class="form-control"
					required> <small
					th:if="${#fields.hasErrors('reason')}" class="text-danger"
					th:errors="*{reason}">reason Error</small>
			</div>

			<div class="form-group">
				<label for="username">Date:</label> <input type="date"
					class="form-control" name="txtBirthday" required>
			</div>

			<div class="form-group">
				<label for="username">StaffsID:</label>
				 <select
				  class="form-control" name="cbostaffID">
					<option th:each="staff:${listStaff}" th:text="${staff.staffsName}"
						th:value="${staff.staffsID}"></option>
				</select>
			</div>
			<h5 class="text-danger" th:text="${message}"></h5>
			<input type="submit" value="Add New" class="btn btn-primary">

		</form>
		<br> <a th:href="${'/records'}">List all records</a>

	</div>
	<div th:replace="fragments/footer::footer"></div>
	<script th:src=" @{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper/js/1.14.6/umd/popper.min.js}"></script>
</body>
</html>